<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}FlagrantWaffle{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/styles.css?v={{ css_version }}">
</head>

<body>

    <header class="site-header">

        <div class="site-brand">
            <div class="brand-mark">
                <img src="/static/images/waffle_icon.png" alt="FlagrantWaffle logo">
            </div>

            <div>
                <div class="brand-name">FlagrantWaffle</div>
                <div class="brand-subtitle">Challenge List</div>
            </div>
        </div>

<nav class="site-nav">

    {% if current_user and current_user.is_admin %}
        <a href="/admin">Admin</a>
    {% endif %}


    <a href="/">Home</a>

    <a href="/levels">Levels</a>

    <a href="/leaderboard">Leaderboard</a>

    {% if current_user %}
        <a href="/users/{{ current_user.username }}">
            {{ current_user.username }}
        </a>

        <a href="/logout">
            Logout
        </a>
    {% else %}
        <a href="/login">
            Login
        </a>
    {% endif %}

</nav>

    </header>

    {% block content %}
    {% endblock %}

<footer class="site-footer">

    <div class="site-footer-content">

        <span>
            © 2026 FlagrantWaffle
        </span>

        <div class="site-footer-links">
            <a href="/rules">
                Submission Rules
            </a>

            <a href="/privacy">
                Privacy Policy
            </a>

            <a href="/terms">
                Terms of Service
            </a>
        </div>

    </div>

</footer>

</body>
</html>